.score__title {
  color: #2f3a4a;
  margin: 20px 0 50px;
  text-align: center;
  font-size: 8rem;
  font-weight: 600;
  line-height: 90px;
}

.score__container {
  display: flex;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 32px 35px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 1px 4px 4px 0px #00000040;
}

.score__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: #cccccc;
}

.score__content {
  margin-left: 15px;
}

.score__info {
  color: var(--white);
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.6rem;

  span {
    display: block;
    color: #cccccc;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
  }
}

.score__list {
  display: flex;
  margin-top: 45px;
}

.score__item {
  color: var(--white);
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.6rem;

  & + .score__item {
    margin-left: 60px;
  }

  span {
    color: var(--text-bold);
    margin-right: 6px;
  }
}
