:root {

  --black: #242424;
  --yellow: #FDC62E;
  --red: #F42C37;
  --green: #2CD06F;
  --blue: #157CFF;


  --primary: #5A51E6;
  --text: #716AEA;
  --text-bold: #06026D;
  --hover: #8A68E5;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}