:root {
  --white: #FFFFFF;
  --black: #242424;
  --gray: #888888;
  --yellow: #fdc62e;
  --red: #f42c37;
  --green: #2cd06f;
  --blue: #157cff;

  --primary: #5a51e6;
  --text: #716aea;
  --text-bold: #06026d;
  --hover: #8a68e5;
}

@font-face {
  font-family: 'Poppins';
  src: url('./asset/font/Poppins-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

html ::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  background-color: #00000026;
  border-radius: 4px;
}

html ::-webkit-scrollbar-track {
  background-color: #0000;
  border-radius: 0;
}